{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "3"
      }
    ]
  ],
  "overrides": [{
    "test": "./temp/cjs/",
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": "cjs",
          "useBuiltIns": "usage",
          "corejs": "3"
        }
      ]
    ]
  }],
}
