{
  "overrides": [{
    "test": "./temp/esm/",
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false,
          "useBuiltIns": "usage",
          "corejs": "3"
        }
      ]
    ]
  }, {
    "test": "./temp/cjs/",
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": "cjs",
          "useBuiltIns": "usage",
          "corejs": "3"
        }
      ]
    ]
  }],
}
